      body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #3b0c59;
        color: white;
      }

      .header {
        background-color: rgba(255, 255, 255, 0.6);
        display: flex;
        align-items: center;
        padding: 20px;
      }

      .logo {
        width: 300px;
        height: 150px;
        background: url('/fanze/assets/catalogue.png') center/contain no-repeat;
        cursor: pointer;
      }

      .overlay {
        margin: 20px auto;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 20px;
        max-width: 1500px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .game {
        width: 30%;
        margin: 15px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        cursor: pointer;
      }

      .game img {
        width: 50%;
        max-height: 200px;
      }

      .game h3 {
        margin: 10px 0;
      }

      .game-details {
        max-width: 750px;
        margin: 20px auto;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 20px;
      }

      .game-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .game-canvas {
        background-color: black;
		border: 5px solid #3b0c59;
      }
	  
	  .game-canvas-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		
	  }

      .rating-container {
        display: flex;
        align-items: center;
      }

      .rating-text {
        margin-right: 10px;
      }

      .rating-stars {
        font-size: 24px;
        cursor: pointer;
      }

      .rating-stars.active {
        color: gold;
      }

      .game-description {
        margin-top: 20px;
      }

      .comment-section {
        margin-top: 20px;
      }
	  
	  .credits {
		text-align: center;
		color: white;
		font-weight: bold;
	  }
